@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL&family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
footer {
  background-color: #373737;
}

footer .container {
  margin-bottom: 0;
  padding-bottom: 20px;
}

footer ul {
  list-style-type: none;
  padding-left: 0 !important;
}

footer .haut {
  display: flex;
  justify-content: space-between;
  color: white;
}

footer .haut h2 {
  color: #9e4143;
}

footer .haut a {
  text-decoration: none;
  color: #a5a3a5;
}

footer .haut .first ul li {
  margin-bottom: 5px;
  font-size: 17px;
}

footer .haut .third ul li {
  margin-bottom: 5px;
  font-size: 20px;
}

footer .haut .first ul li:hover a,
footer .haut .third ul li:hover a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

footer .second {
  margin-left: 120px;
  margin-top: 5px;
}

footer .haut .second ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .haut .second ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  margin-right: 25px;
  text-align: center;
  background-image: url(/src/assets/back_svg/footer_back.svg);
  background-repeat: no-repeat;
  margin-top: 10px;
}

footer .haut .second ul li a {
  color: rgba(255, 255, 255, 0.637);
  font-size: 21px;
}

footer .bas .one{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer hr {
  color: rgb(255, 255, 255);
  height: 2px;
  margin-top: 30px;
}

footer .bas h3 {
  font-family: "Cairo", sans-serif;
  font-size: 27px;
  color: rgba(255, 255, 255, 0.678);
}

footer .bas p {
  font-size: 11px;
  color: white;
  margin-right: 40px;
  text-align: center;
  margin-top: -36px;
}




@media only screen and (max-width: 600px) {
  footer .haut {
    display: block !important;
    justify-content: space-between;
    color: white;
  }

  footer .haut .second ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  footer .second {
    margin-left: 0;
    margin-bottom: 50px !important;
  }
footer .third h2,
footer .second h2{
    margin-top: 50px;
}
footer .haut .third ul li {
    font-size: 17px;
  }

footer hr{
    margin-top: 50px;
    color: #8d4b4b;
    padding-top: 2.5px;
}

footer .bas .one{
    display: block !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

footer .bas{
    display: block !important;
    align-items: center;
    justify-content: center;
}

  footer .bas p {
    margin: 0 !important;
    font-size: 12px;
  }
  

}

@media only screen and (max-width: 992px) {
    footer .haut {
      display:grid;
      grid-template-columns: repeat(2,1fr);
    }

    footer .second {
      margin-left: 120px;
      margin-top: 2px;
    }
  
    footer .haut .second ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    footer .haut .first ul li a{
      font-size: 16px;
    }
    footer .haut .third ul li a{
      font-size: 16px;
    }
  
    footer .second {
      margin-left: 0;
    }
  footer .third h2{
      margin-top: 20px;
  }
  
  footer hr{
      margin-top: 50px;
      color: #8d4b4b;
      padding-top: 2.5px;
  }
  
  footer .bas .one{
      text-align: center;
      margin-bottom: 20px;
  }
  
  footer .bas{
      display: block;
      align-items: center;
      justify-content: center;
  }
  
    footer .bas p {
      margin-top: -30px;
      margin-left: 40px;
    }
    
  
  }
