.ProtectedPage2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: #db5353ee;
}

.ProtectedPage2 .header h1 {
  font-size: 1.5rem !important;
  color: white;
}

.ProtectedPage2 .personnelle {
  line-height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center ;
  justify-content: space-evenly;
  gap: 0.25rem;
}

.ProtectedPage2 .personnelle .name {
 background-color: white;
 padding: 8px 22px !important;
 display: flex;
 align-items: center;
 justify-content: center;
}

.ProtectedPage .btn-inscription{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ProtectedPage .btn-inscription button{
  padding:13px 22px !important;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.ProtectedPage .btn-inscription button span:first-child{
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  text-transform:inherit;
  letter-spacing: 0.2px;
}

.ProtectedPage .btn-inscription button span:hover{
  color: #db5353ee;
}



.ProtectedPage2 .personnelle span {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 10px;
}


.ProtectedPage2 :where(.css-dev-only-do-not-override-1ae8k9u).ant-badge .ant-badge-count{
  max-width: 20px;
  right: 5px;
  top: 3px;
}




.ProtectedPage2 .personnelle i:nth-child(1) {
  font-weight: 300;
  font-size: 15px;
}


.ProtectedPage2 .personnelle .ri-logout-box-r-line {
  font-size: 25px !important;
}

.ProtectedPage div:last-child {
  padding: 2px;
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification .content {
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.notification .content button{
  padding: 6px;
  margin-top: 15px;
  font-size: 13px;
  background-color: white;
  font-weight: 600;
  border:2px solid #db5353ee;
  border-radius: 5px;
}

.notification .content button:hover{
  background-color: #db5353ee;
  color: white;
}

.notification .content h1:nth-child(2) {
  color: #374151;
}

.notification .content h1:nth-child(3) {
  color: #6b7280;
  font-size: 1rem !important;
  line-height: 1.25rem;
}
.notification .content span {
  color: #6b7280;
  font-size: 17px;
}





 @media only screen and (max-width: 600px) {
  .ProtectedPage2 {
    display: flex;
    justify-content: start;
    padding: 0 5px;
  }
  .ProtectedPage2 .header h1 {
    font-size: 1rem !important
  }
  .ProtectedPage2 .personnelle .name {
    padding: 5px  !important;
   }
   .ProtectedPage .btn-inscription button{
    padding: 5px !important;
  }
  
}